/_ide_helper.php
/vendor/*
/node_modules/*
/storage/files/*
/public/bella-bower/*
/public/cook/*
/public/shop2016/*
.env
composer.lock
.idea/
app/Http/Controllers/.DS_Store
app/Notifications/.DS_Store
