@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
a {
  color: #666666;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
.header-top-right-area .dropdown-menu li {
  width: 100%;
  line-height: 20px !important;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.breadcrumb {
  background-color: white;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3c3b48;
  border-color: #3c3b48;
}
.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
  top: 0;
}
.btn {
  border-radius: 0;
}
footer {
  float: left;
}
.cart {
  margin-right: 0px;
  margin-left: 0px;
}
.cart-resume {
  padding: 15px 0;
}
.cart-resume .row table {
  width: 100%;
  background: transparent;
}
.cart-resume .row .text-small,
.cart-resume .row .text-center {
  padding-right: 0px;
  padding-left: 0px;
}
.shop_table_cart {
  width: 100%;
  text-align: left;
  empty-cells: show;
}
.shop_table_cart thead tr th {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ebebeb;
  background: #f8f8f8;
  text-transform: uppercase;
  padding: 2%;
  min-width: 32px;
  vertical-align: middle;
}
.shop_table_cart tbody {
  max-width: 100%;
}
table.shop_table_cart td {
  padding: 0 1%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
table.shop_table_cart td:first-child {
  text-align: left;
}
table.shop_table_cart .wd_product_item {
  float: left;
  margin-right: 28px;
}
table.shop_table_cart .wd_product_content > div {
  display: table-cell;
  vertical-align: middle;
  color: #3c3b48;
  cursor: pointer;
}
.cart_panel {
  border: none;
  -webkit-box-shadow: 0;
}
a.remove {
  color: #dcdcdc;
  font-size: 25px;
  font-weight: bold;
}
a.remove:hover {
  color: #e94444;
}
.cart-btn-black {
  background: #3c3b48;
  border-color: #3c3b48;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
}
.cart-btn-black:hover {
  background: white;
  color: #3c3b48;
  border-color: #3c3b48;
}
.cart-btn-black:hover .fa {
  background: #3c3b48;
}
.cart-btn-white {
  background: white;
  border-color: #3c3b48;
  border-radius: 0px;
  color: #3c3b48;
  text-transform: uppercase;
}
.cart-btn-white .fa {
  background: white;
}
.cart-btn-white:hover {
  background: #3c3b48;
  color: white;
}
.li {
  padding: 10px 0 0;
}
#menu-left-category ul li {
  width: 100%;
}
#menu-left-category ul li a {
  padding: 0 0 10px 0 !important;
  text-transform: uppercase;
}
#menu-left-category ul li small {
  float: right;
}
#menu-left-category ul li span {
  float: right;
}
#menu-left-category ul small {
  font-size: 17px;
}
.categories-panel {
  max-width: 350px;
  padding-left: 0 !important;
}
footer {
  background: #3c3b48;
  margin-top: 60px;
  padding-top: 47px;
  border-top: 1px solid #eee;
}
footer .menu {
  text-align: initial;
}
footer .menu h3 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 600;
}
footer .menu ul {
  list-style-type: none;
  padding: 0;
}
footer .menu ul li {
  display: block;
  margin-bottom: 9px;
}
.footertext {
  line-height: 1.65;
  color: #c5c5c5;
}
.line {
  background: #e94444;
  height: 2px;
  display: block;
  margin: 6px 0 30px;
}
.line-30 {
  width: 30px;
}
.fa {
  color: white;
  font-size: inherit;
}
.logo-jpg {
  vertical-align: inherit;
}
.rows {
  background-color: #2d2c33;
  height: 50px;
}
.col-sm-4 {
  color: white;
}
.subscribe_widget form {
  position: relative;
  height: 40px;
  padding: 5px;
  background: #2d2c33;
  border: 1px solid transparent;
  margin-bottom: 35px;
  display: inline-block;
  width: 100%;
  max-width: 630px;
  border-color: #2d2c33;
  background-color: #2d2c33;
}
.subscribe_widget .subscribe-email {
  float: left;
  width: 70%;
  margin-bottom: 0;
}
.subscribe_widget .subscribe-email > input {
  background: none;
  border: none;
  height: 27px;
}
.dada {
  background: transparent;
  border: none;
  float: right;
  margin-top: 5px;
}
.f-footer-area {
  background-color: #3c3b48;
}
.fourth-footer-area {
  background-color: #2d2c33;
  margin-left: -15px;
  margin-right: -15px;
}
.copy-right {
  padding: 15px 0;
  overflow: hidden;
  position: relative;
  color: #666;
  font-size: 11px;
}
#menu-footer-page li,
.payment li {
  list-style: none;
  width: initial;
  float: left;
  margin-left: 5px;
}
.header-top {
  width: 100%;
  height: 40px;
  float: left;
  position: relative;
  background: #fff;
  padding: 0 3% 0 3%;
  border-bottom: 1px solid #e3e3e3;
}
.header-top ul {
  padding-left: 0;
}
.header-top ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  float: none;
}
.header-top ul li i {
  color: black;
  font-size: inherit;
}
.header-top-right {
  height: 100%;
}
.header-top-right ul li a span {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}
.header-top-right .dropdown-menu li {
  display: block;
  margin-right: 0;
  padding: 0 0;
}
.header-top-left {
  height: 100%;
  padding-left: 0;
}
.social-icons ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  float: none;
}
.categories-search {
  position: relative;
}
#menu-top-category {
  width: 100%;
  float: left;
}
.header-search-row {
  width: 100%;
  float: left;
  height: 120px;
  padding: 0 3% 0 3%;
  position: relative;
}
.logo {
  height: 100%;
  float: left;
  padding-left: 0px;
}
.cat-controller-nav {
  height: 100%;
  float: right;
  padding-right: 30px;
  padding-left: 30px;
}
.cat-controller-nav form {
  height: 100%;
}
.search-nav {
  height: 100%;
}
.search-nav a {
  float: left;
}
.search-nav .categories-search,
.search-nav .search-input,
.search-nav .search-btn,
.search-nav .cart {
  float: left;
  margin-top: 40px;
}
.search-nav .search-input {
  width: 50%;
}
.search-nav .search-btn button {
  height: 40px;
}
#search_value {
  height: 40px;
  border-radius: 0;
}
.dropdown-menu {
  border-radius: 0;
  margin: 0;
  padding: 0 0;
}
.cart {
  margin-right: 20px;
  margin-left: 20px;
}
.cart .nav {
  height: 40px;
  background-color: #e94444;
  border-radius: 0;
}
.cart .nav li {
  height: 40px;
}
.cart .nav li a {
  padding-top: 10px !important;
  color: black ;
}
.cart .nav li a:hover {
  background: #e94444;
}
.input-group .form-control {
  width: 100%;
}
.navbar-brand-text {
  width: 200px;
  height: 100%;
}
.categories-search button {
  height: 40px;
  border-radius: 0;
}
.logo-img {
  width: 200px;
  height: 100%;
  float: left;
}
.header-bottom-content {
  width: 100%;
  height: auto;
  float: left;
  background-color: #3c3b48;
  position: relative;
  padding: 0 3% 0 3%;
}
.header-bottom-content div {
  padding-right: 0;
  padding-left: 0;
}
.full-category {
  background-color: #e94444;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  min-width: 230px;
  padding: 14px 0;
  text-transform: uppercase;
}
.full-category i {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 21px;
  float: left;
  line-height: 0.8;
  color: white;
}
.product-items-box .item-box .title h3 a:hover {
  text-decoration: -moz-anchor-decoration;
}
.product-item {
  margin: 0 -6px 0 0px !important;
  padding-left: 12px;
  padding-right: 12px;
}
.line-menu {
  display: -webkit-box;
  display: flex;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.line-menu li {
  margin-left: 12px;
  padding: 11px 18px;
  position: relative;
  text-transform: uppercase;
}
.mobile_ {
  margin-left: -15px;
  margin-right: 15px;
}
.home-carousel-box {
  height: 400px;
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.3);
}
.line-menu li a {
  color: white;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 120%;
  font-weight: 800;
}
.line-menu li a:hover,
.line-menu li a.active {
  color: white;
}
.bella-cat {
  position: relative;
}
.bella-cat .vert-category {
  z-index: 10;
  height: 100%;
}
.bella-cat .vert-category ul {
  padding: 0;
  list-style: none;
  color: black;
  background-color: white;
  height: 100%;
}
.bella-cat .vert-category ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bella-cat .vert-category ul li a {
  color: black;
  display: block;
  font-size: 13px;
  padding: 15px 0 15px 22px;
}
.bella-cat .vert-category:hover ul {
  background-color: #f9f9fa;
}
.bella-cat .vert-category:hover ul li a {
  color: #555 !important;
}
.bella-cat .vert-category ul li:hover a {
  color: #f84cb9;
  background: #fff;
}
.icon-facebook {
  color: #2f4b93 !important;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login button {
  font-family: "Roboto", sans-serif;
  text-translogin: uppercase;
  outline: 0;
  background: #3c3b48;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login button:hover,
.login button:active,
.login button:focus {
  background: #e94444;
}
.login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login .message a {
  color: #3c3b48;
  text-decoration: none;
}
.btn-back {
  margin-top: 1%;
}
.pd-image {
  width: 100px;
  height: 100px;
}
.producttitle {
  background: url(../img/banner/bg-breadcrumb.jpg);
  background-position: center center!important;
  background-size: cover !important;
  position: relative;
  z-index: 0;
  padding: 35px 0;
  margin-left: -6%;
  margin-right: -6%;
}
.titlecolor {
  color: white;
}
.container-fluid {
  background-color: white;
}
.products-list {
  float: left;
  padding: 0 3% 0 3%;
}
.product-features {
  float: left;
}
.products_view {
  width: 100%;
  height: 100%;
}
.price {
  color: #e94444;
}
.social {
  float: right;
}
.social button {
  color: #fff;
  background-color: #3b5998;
}
.social button:hover {
  color: #ffffff !important;
}
.social a {
  color: #fff;
  background-color: #2795e9;
}
.social:hover {
  color: #ffffff !important;
}
.quantity {
  width: auto;
  margin: 0 1px;
}
.breadcrumbstext .breadcrumb {
  background-color: transparent !important;
}
.breadcrumbstext .breadcrumb a {
  color: white;
}
.breadcrumb > .active {
  color: white;
}
.pdimage {
  width: 450px;
}
.return-shipping {
  border-top: 1px solid #ebebeb;
  padding-top: 30px;
  margin-top: 24px;
}
.return-shipping .content-quick {
  border: 1px dashed #ed7952;
  padding: 29px 19px 29px 78px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: white;
}
.btn-info2 {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #000;
  background-color: #ddd;
}
.twitter {
  color: #000;
  background-color: #dddddd;
}
.titlelines {
  background-color: #f90000;
  height: 2px;
  display: block;
  margin: 6px 0 20px;
  width: 30px;
}
.page-headers {
  margin: 40px 40px 20px;
}
.global-panels {
  width: 100%;
  float: left;
}
.product-img-box {
  position: relative;
}
.product-img-box img {
  width: 100%;
  height: 210px;
}
.thumbnail {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15%;
  border: 1px solid#e65020;
  height: 120px;
  width: 100px;
}
h6 a {
  color: #3c3b48;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
h6 {
  text-align: center;
  font-size: 12px;
  height: 30px !important;
}
.product-box {
  position: relative;
  margin-bottom: 30px;
}
.product-box:hover .product-actions {
  visibility: visible;
  margin-top: -40px;
}
.product-box:hover .product-image-hover {
  background: rgba(0, 0, 0, 0.15);
}
.product-price {
  font-size: 100%;
  font-weight: 700;
  line-height: 1.3;
  color: inherit;
  font-family: "Lato";
  font-style: normal;
  text-align: center;
}
.product-actions {
  width: 100%;
  height: 40px;
  position: absolute;
  visibility: hidden;
  margin-top: 0px;
  z-index: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}
.product-actions .wrapper {
  color: #bbbfc7;
  padding: 4%;
  cursor: pointer;
  background-color: #Fff;
  height: 40px;
  border: 1px #f2f2f2 solid;
}
.product-actions .wrapper:hover .glyphicon {
  color: #e94444;
}
.product-actions .wrapper:hover #card_text {
  color: #e94444;
}
.product-actions .glyphicon-shopping-cart {
  color: #e94444;
  margin-right: 5%;
}
.product-actions .glyphicon-heart,
.product-actions .glyphicon-eye-open {
  color: #e94444;
  width: 100%;
  text-align: center;
}
.product-type {
  color: white;
  -moz-transform: rotate(45deg);
  margin-left: 25px;
  margin-top: 14px;
  position: absolute;
}
.product-image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  background: rgba(0, 0, 0, 0.03);
}
.product-name {
  text-align: center;
  font-size: 14px;
  height: 30px !important;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}
.btn.focus,
.btn:focus,
.btn:hover {
  color: #ffffff ;
  text-decoration: none;
}
#menu-top-category .breadcrumb {
  padding: 20px 0 !important;
  margin-bottom: 0 !important;
}
.btn {
  border-radius: 0;
  background-color: #ddd;
}
.home {
  float: left;
  position: relative;
}
.wpb_tour.wd_prod_style.wpb_content_element .wpb_tour_tabs_wrapper {
  min-height: 250px;
  border: 1px solid #ebebeb;
  padding: 0;
  border-top: 0;
  position: relative;
  overflow: hidden;
}
.wd_prod_style .vc_tours_heading_box {
  height: 92px;
  overflow: hidden;
  padding: 15px 20px;
  width: 18%;
  max-width: 218px;
}
.wd_prod_style .vc_tours_heading_box h4 {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 0;
}
.wd_prod_style.wpb_content_element .wpb_tabs_nav {
  width: 18%;
  /* max-width: 218px; */
  border: none;
  position: relative;
  padding-top: 14px;
  padding-bottom: 147px;
}
.wd_prod_style.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  width: 82%;
  margin-top: -90px;
  padding: 25px 30px;
  background: #fff;
  position: relative;
}
.demo ul li {
  border: 1px solid transparent;
  border-width: 1px 0;
  white-space: inherit;
  list-style: none;
  padding-left: 20px;
}
.box {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid #ffffff;
  -webkit-transition: 0.5s;
}
.box:hover {
  border: 2px solid rgba(0, 160, 80, 0);
  color: #FFF;
}
.box::before,
.box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.foo::before {
  border-bottom: 3px solid #FFF;
  border-left: 3px solid #FFF;
  -webkit-transform-origin: 0 100%;
}
.foo::after {
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  -webkit-transform-origin: 50%;
  opacity: 0.3;
  background: white;
}
.box:hover::after,
.box:hover::before {
  -webkit-transform: scale(1);
}
.testtab > li {
  background: #f8f8f8;
  border-right: 1px solid #ebebeb;
}
.testtab > li.active > a,
.testtab > li > a:hover,
.testtab > li.active > a:hover,
.testtab > li.active > a:focus {
  border-top-style: solid;
  border-top-color: #e94444;
  color: #000;
  background-color: white;
  border-bottom: none;
}
.bella-cat {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.bella-cat .vert-category ul {
  border: 1px solid #ebebeb;
  background-color: #f8f8f8;
  background: #f8f8f8;
}
.bella-cat .vert-category ul li {
  border-bottom: 1px solid #ebebeb;
  text-transform: uppercase;
}
.home-carousel-box {
  box-shadow: none;
}
.carousel,
.carousel-inner {
  height: 100%;
}
.carousel .item,
.carousel-inner .item {
  height: 100%;
}
.carousel-inner > .item > img {
  height: 100%;
}
.glyphicontest {
  font-size: 25px;
}
.container-tab {
  padding-right: 0px;
  padding-left: 0px;
}
.home-carousel-box {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.left-filter {
  padding-left: 30px;
}
.home-cat-trend {
  float: left;
  padding-left: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.3);
}
.product-trend {
  float: left;
  padding-left: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.3);
  margin-right: -15px;
  margin-left: -15px;
}
.product-features {
  float: left;
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.3);
  margin-bottom: 20px;
}
.home-layout {
  float: left;
  padding: 0 3% 0 3%;
}
.prodsec {
  padding-right: 0;
  padding-left: 0px;
}
.prodsecto {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 0;
  padding: 15px 20px;
  word-wrap: break-word;
}
.prodsectobgcolor {
  background-color: #e94444;
}
.prodsectoul {
  padding-top: 14px;
  padding-left: 0px;
  margin-bottom: 0;
  padding-bottom: 220px;
  border-right: 1px solid #ebebeb;
  position: relative;
}
.prodsectoul li {
  width: 100%;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
.prodsectoborder {
  border-color: #ebebeb;
}
.boxshadow {
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.3);
  margin-bottom: 20px;
}
.prodmargin {
  margin-top: 0px;
}
.prodpadding {
  padding-left: 0px;
  padding-right: 0px;
}
.borderleft {
  border-left: none;
}
.borderright {
  border-right: none;
}
.sectionprodborder {
  border-top: 2px solid #e94444;
  padding: 20px;
}
.description {
  width: 100%;
  resize: none;
}
.get-time > h3 {
  margin: 5% 0px;
  text-transform: uppercase;
  font-size: 25px;
}
.get-time-btn {
  background: #e94444;
  border-radius: 0px;
  border: none;
  padding: 10% 35%;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.get-time-btn:hover {
  background: #3c3b48;
}
.sidebar-navbar-collapse .list-group .list-group-item {
  width: 100%;
  position: relative;
  display: block;
}
.list-group-item.active {
  background-color: #e7e7e7;
  border-color: #f8f8f8;
}
.list-group-item.active:hover {
  border-color: #f8f8f8;
  background: #b3b3b3;
}
.product-add {
  background-color: #e94444 !important;
  border-color: #e94444 !important;
}
.product-add .btn-info:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-success {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-success:hover {
  background-color: #e94444 !important;
  border-color: #e94444 !important;
}
.btn-info:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-info {
  color: #fff;
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary {
  background-color: #e94444;
  border-color: #e94444;
}
a:hover,
a:focus {
  color: #e94444;
}
.btn-primary:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  background-color: #e94444 !important;
  border-color: #e94444 !important;
}
.btn-primary:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary {
  background-color: #e94444;
  border-color: #e94444;
}
.btn btn-primary btn-sm {
  background-color: #e94444 !important;
  border-color: #e94444 !important;
}
.btn-primary:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary:hover {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-primary {
  background-color: #e94444;
  border-color: #e94444;
}
.wishpanel > .panel-heading {
  color: #000;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.wishpanel {
  border-color: #f5f5f5;
}
.btn-info {
  background-color: #e94444;
  border-color: #e94444;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #e94444;
  border-color: #e94444;
}
.cp_about-section {
  float: left;
  width: 100%;
  position: relative;
  z-index: 99;
}
.pd-tb80 {
  padding: 80px 0;
}
.cp_promotion-section {
  float: left;
  width: 100%;
}
.pd-b80 {
  padding: 0 0 80px;
}
.cp_rates-section {
  float: left;
  width: 100%;
}
.cp_our-services-section {
  float: left;
  width: 100%;
  position: relative;
  background: url(../img/tanilcuulga/bg2.jpg) top center no-repeat;
  background-size: cover;
  z-index: 11;
}
.cp_our-services-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.88);
}
.cp-heding-style1 {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 0 40px;
}
.cp-heding-style1::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 38px;
  border-bottom: 3px solid;
  margin: 0 auto;
  z-index: 99;
  border-color: #d00009;
}
.bella-slider .item img {
  position: relative !important;
}
.cp-heding-style1:after {
  content: '';
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #cecece;
  margin: 0 auto;
}
.about-text {
  float: left;
  width: 100%;
  position: relative;
}
.about-text .bottom-holder {
  float: left;
  border: 10px solid rgba(255, 255, 255, 0.45);
  position: absolute;
  left: -122px;
  z-index: 99;
}
.about-text .bottom-holder .inner {
  background-color: #fff;
  padding: 15px 45px;
}
.promotion-item {
  float: left;
  width: 100%;
  position: relative;
}
.promotion-item .text {
  width: 390px;
  float: left;
  position: relative;
  z-index: 11;
  background-color: #000;
  padding: 28px 80px 28px 24px;
}
.item-discount {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding: 8px 17px;
  background-color: #232121;
}
.promotion-item .thumb {
  float: right;
  background-color: #fff;
  position: absolute;
  z-index: 11;
  right: 0;
  top: 20px;
  overflow: hidden;
  border: 8px solid #fff;
}
.rates-holder {
  float: left;
  width: 100%;
  position: relative;
  min-height: 593px;
  margin: 0 0 40px;
}
.rates-holder .text-holder {
  float: left;
  width: 100%;
  padding: 100px 0 0;
}
.rates-holder .text-holder.right {
  padding: 130px 0 0;
  text-align: right;
}
.rates-holder::before {
  content: '';
  position: absolute;
  background: url(http://html.crunchpress.com/big-salon/images/haircut-img.jpg) no-repeat top center;
  left: 0;
  right: -130px;
  margin: 0 auto;
  width: 674px;
  height: 593px;
}
.rates-holder .text-holder .info-hold:before {
  content: '';
  position: absolute;
  width: 120px;
  border-top: 1px solid #303030;
}
.rates-holder .left .info-hold:before {
  right: 130px;
  top: 10px;
}
.rates-holder .left .info-hold:after {
  right: 250px;
  top: 6px;
}
.rates-holder .text-holder .info-hold:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #303030;
}
.cp_rates-section .bottom {
  float: left;
  width: 100%;
  text-align: center;
}
.rates-holder .text-holder .info-hold {
  position: relative;
}
.rates-holder .right .info-hold:before {
  left: 78px;
  top: 10px;
}
.rates-holder .right .info-hold:after {
  left: 198px;
  top: 6px;
}
.rates-holder .text-holder .info-hold span b {
  font-size: 24px;
  line-height: 20px;
  margin: 0 4px 0 0;
  color: #d00009;
}
.cp-heding-style2 {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 0 40px;
  color: white;
}
.cp-heding-style2::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 38px;
  border-bottom: 3px solid;
  margin: 0 auto;
  z-index: 99;
  border-color: #d00009;
}
.cp-heding-style2:after {
  content: '';
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
}
.services-item {
  float: left;
  width: 100%;
  position: relative;
  padding: 12px;
  margin: 0 0 30px;
  background-color: #fff;
}
.services-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}
.services-item .services-caption {
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 32px 0 0;
  text-align: center;
}
.services-caption a {
  padding: 5%;
}
.services-item img {
  width: 240px;
}
.cp_linebar-style {
  position: relative;
  width: 5px;
  height: 3px;
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  background: red;
}
.cp_linebar-style:before,
.cp_linebar-style:after {
  content: '';
  position: absolute;
  top: 0;
  width: 5px;
  height: 3px;
}
.cp_linebar-style:before {
  left: 13px;
  background-color: #d00009;
}
.cp_linebar-style:before,
.cp_linebar-style:after {
  content: '';
  position: absolute;
  top: 0;
  width: 5px;
  height: 3px;
}
.cp_linebar-style:after {
  right: 13px;
  background-color: #d00009;
}
.services-item .services-caption .icomoon {
  display: block;
  text-align: center;
  font-size: 60px;
}
.cp_equipment-section {
  float: left;
  width: 100%;
}
.cp_equipment-section .box-item {
  float: left;
  width: 100%;
  text-align: center;
}
.cp_equipment-section .box-item .cp-thumb {
  position: relative;
  margin: 0 0 15px;
}
.cp_equipment-section .box-item span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #d00009;
}
.cp_our-parallax-section {
  float: left;
  width: 100%;
  background: url(http://html.crunchpress.com/big-salon/images/paralax-bg.jpg) no-repeat top center fixed;
  background-size: cover;
  position: relative;
  z-index: 11;
}
.cp_our-parallax-section:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.64);
}
.cp_our-parallax-section .left-holder {
  float: left;
  width: 100%;
}
.cp_our-parallax-section .left-holder h3 {
  font-size: 72px;
  font-style: italic;
  margin: 0 0 15px;
  line-height: 72px;
  color: #d00009;
}
.cp_our-parallax-section .left-holder strong {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-style: italic;
  margin: 0 0 15px;
  line-height: 72px;
  color: #fff;
  text-align: right;
  display: block;
  margin: 0 0 24px;
}
.cp_our-parallax-section .left-holder .buy-now {
  font-size: 14px;
  line-height: 14px;
  padding: 13px 20px;
  min-width: auto;
  float: right;
  border-color: #d00009;
}
a.cp-btn-style1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  display: inline-block;
  min-width: 130px;
  text-align: center;
  padding: 14px 20px;
  position: relative;
  z-index: 1;
  border: 1px solid;
}
a.cp-btn-style1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 51%;
  height: 100%;
  z-index: -1;
  transition: all .5s linear;
  background-color: #d00009;
  -webkit-transition: all .5s linear;
}
a.cp-btn-style1::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  background-color: #d00009;
}
.cp_our-parallax-section .right-holder {
  padding: 0 120px 0 0;
  float: right;
}
.cp_our-parallax-section .right-holder ul > li {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  line-height: 30px;
  font-style: italic;
  color: #fff;
  margin: 0 0 20px;
  list-style: none;
}
.blog-holder {
  float: left;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(98, 98, 98, 0.32);
  margin: 0 0 35px;
  list-style: none;
}
.cp-thumb {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 11;
}
.cp-thumb:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  z-index: 99;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}
.blog-holder .cp-thumb:before,
.blog-holder .cp-thumb:after {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.cp-thumb img {
  width: 100%;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.blog-holder .cp-thumb .zooming-holder {
  color: #fff;
  z-index: 999;
}
.cp-thumb .zooming-holder {
  border: 2px solid #fff;
  border-radius: 100%;
  display: inline-block;
  height: 35px;
  left: 0;
  line-height: 31px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.blog-holder .cp-thumb:before,
.blog-holder .cp-thumb:after {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.cp-thumb:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  z-index: 99;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
}
ul.cp-listed li {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #282828;
  margin: 0 10px 0 0;
  list-style: none;
}
.cp_pricing-section {
  float: left;
  width: 100%;
  background: url(../img/tanilcuulga/bg1.jpg) top center #000;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 11;
}
.pricing-item {
  float: left;
  width: 100%;
  border: 1px solid #443c39;
  position: relative;
}
.pricing-item .pricing-text {
  float: left;
  position: relative;
  width: 100%;
  padding: 0 18px 0;
  margin: -68px 0 0;
  text-align: center;
}
.pricing-item .pricing-text .price {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  padding: 0 0 17px;
  display: block;
  position: relative;
  z-index: 111;
}
.pricing-item .pricing-text .btn-hair-service {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  padding: 14px 15px;
  display: inline-block;
  min-width: 145px;
  position: relative;
  z-index: 111;
}
.pricing-item .price-list {
  float: left;
  width: 100%;
  padding: 20px 0 30px;
}
.pricing-item .price-list > li {
  float: left;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 12px 0;
  border-bottom: 1px solid #443c39;
  list-style: none;
}
.team-item {
  float: left;
  width: 100%;
  margin: 0 0 30px;
}
.team-item .cp-thumb .caption {
  position: absolute;
  width: 100%;
  float: left;
  left: 0;
  bottom: 0;
  text-align: right;
  padding: 0 10px;
  z-index: 111;
}
.team-item .cp-thumb .caption .cp-social-list {
  float: right;
}
.cp-social-list {
  float: left;
  width: 100%;
}
.cp-social-list > li {
  display: inline-block;
  list-style: none;
}
.team-item .team-text {
  float: left;
  width: 100%;
  text-align: center;
  padding: 25px 0 30px;
  background-color: #8f8f8f;
  position: relative;
  z-index: 11;
}
.team-item .team-text h3 {
  margin: 0 0 7px;
}
.team-item .team-text h3 a {
  color: #fff;
}
.team-item .team-text span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: block;
  color: #fff;
}
.cp_achievement-section {
  float: left;
  width: 100%;
  background: url(http://html.crunchpress.com/big-salon/images/achivement-bg-img.png) top center;
  background-color: #d00009;
}
.achievement-item {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cp_brands-section {
  float: left;
  width: 100%;
  border-top: 1px solid #d1d1d1;
  overflow: hidden;
}
.cp_brands-section ul {
  float: left;
  width: 100%;
}
.cp_brands-section ul li {
  float: left;
  border-left: 1px solid #f4f4f4;
  width: 12.2%;
  list-style: none;
  border: none;
}
.cp_testimonial-section {
  float: left;
  width: 100%;
  padding-bottom: 47px;
  position: relative;
  border-top: 1px solid #d1d1d1;
}
.cp_testimonial-section:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 214px;
  height: 449px;
  background: url(http://html.crunchpress.com/big-salon/images/testimonial-before.jpg) no-repeat;
}
.cp_testimonial-section:after {
  content: '';
  position: absolute;
  z-index: -11;
  right: 0;
  bottom: 0;
  width: 126px;
  height: 341px;
  background: url(http://html.crunchpress.com/big-salon/images/testimonial-after.jpg) no-repeat;
}
.testimonial-slider-holder {
  float: left;
  width: 100%;
}
.testimonial-slider-holder .bx-wrapper {
  margin: 0;
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  max-width: 100%;
}
.bx-wrapper .bx-viewport {
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  -webkit-transform: translatez(0);
  transform: translatez(0);
}
.testimonial-slider-holder .bx-controls {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  top: -60px;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.testimonial-slider-holder .bx-controls .bx-pager {
  display: none;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}
@media (max-width: 720px) {
  .navbar-brand-text {
    display: none;
  }
  .logo,
  .line-menu,
  .cart,
  .header-top-left-area,
  .header-top,
  footer,
  .home-cat-trend,
  .product-features {
    display: none;
  }
  .cat-controller-nav {
    width: 100% !important;
  }
}

/*# sourceMappingURL=app.css.map */
