@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
a {
  color: #666666;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
.header-top-right-area .dropdown-menu li {
  width: 100%;
  line-height: 20px !important;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
<<<<<<< HEAD
.cart {
  margin-right: 0px;
  margin-left: 0px;
}
.cart-resume {
  padding: 15px 0;
}
.cart-resume .row table {
  width: 100%;
  background: transparent;
}
.cart-resume .row .text-small,
.cart-resume .row .text-center {
  padding-right: 0px;
  padding-left: 0px;
}
.shop_table_cart {
  width: 100%;
  text-align: left;
  empty-cells: show;
}
.shop_table_cart thead tr th {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ebebeb;
  background: #f8f8f8;
  text-transform: uppercase;
  padding: 2%;
  min-width: 32px;
  vertical-align: middle;
}
.shop_table_cart tbody {
  max-width: 100%;
}
table.shop_table_cart td {
  padding: 0 1%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
table.shop_table_cart td:first-child {
  text-align: left;
}
table.shop_table_cart .wd_product_item {
  float: left;
  margin-right: 28px;
}
table.shop_table_cart .wd_product_content > div {
  display: table-cell;
  vertical-align: middle;
  color: #3c3b48;
  cursor: pointer;
}
.cart_panel {
  border: none;
  -webkit-box-shadow: 0;
}
a.remove {
  color: #dcdcdc;
  font-size: 25px;
  font-weight: bold;
}
a.remove:hover {
  color: #ed764f;
=======
.breadcrumb {
  background-color: white;
>>>>>>> 3ef31daf16107c9bb7584f74e85fbf544909b5bb
}
.li {
  padding: 10px 0 0;
}
#menu-left-category ul li {
  width: 100%;
}
#menu-left-category ul li a {
  padding: 0 0 10px 0 !important;
  text-transform: uppercase;
}
#menu-left-category ul li small {
  float: right;
}
#menu-left-category ul li span {
  float: right;
}
#menu-left-category ul small {
  font-size: 17px;
}
.categories-panel {
  max-width: 250px;
}
.left-filter {
  padding-left: 30px;
}
footer {
  background: #3c3b48;
  margin-top: 60px;
  padding-top: 47px;
  border-top: 1px solid #eee;
}
footer .menu {
  text-align: initial;
}
footer .menu h3 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 600;
}
footer .menu ul {
  list-style-type: none;
  padding: 0;
}
footer .menu ul li {
  display: block;
  margin-bottom: 9px;
}
.footertext {
  line-height: 1.65;
  color: #c5c5c5;
}
.line {
  background: #ed764f;
  height: 2px;
  display: block;
  margin: 6px 0 30px;
}
.line-30 {
  width: 30px;
}
.fa {
  color: white;
  font-size: inherit;
}
.logo-jpg {
  vertical-align: inherit;
}
.rows {
  background-color: #2d2c33;
  height: 50px;
}
.col-sm-4 {
  color: white;
}
.subscribe_widget form {
  position: relative;
  height: 40px;
  padding: 5px;
  background: #2d2c33;
  border: 1px solid transparent;
  margin-bottom: 35px;
  display: inline-block;
  width: 100%;
  max-width: 630px;
  border-color: #2d2c33;
  background-color: #2d2c33;
}
.subscribe_widget .subscribe-email {
  float: left;
  width: 70%;
  margin-bottom: 0;
}
.subscribe_widget .subscribe-email > input {
  background: none;
  border: none;
  height: 27px;
}
.dada {
  background: transparent;
  border: none;
  float: right;
  margin-top: 5px;
}
.f-footer-area {
  background-color: #3c3b48;
}
.fourth-footer-area {
  background-color: #2d2c33;
  margin-left: -15px;
  margin-right: -15px;
}
.copy-right {
  padding: 15px 0;
  overflow: hidden;
  position: relative;
  color: #666;
  font-size: 11px;
}
#menu-footer-page li,
.payment li {
  list-style: none;
  width: initial;
  float: left;
  margin-left: 5px;
}
.cat-controller-nav form .input-group button {
  float: left;
}
.search-nav {
  border-bottom: 1px solid #e3e3e3;
  height: 140px;
  margin-top: -20px;
}
.search-nav button {
  height: 40px;
  border-radius: 0;
}
.header-top-right-area ul li a span {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  color: #666666;
}
.header-top {
  width: 100%;
  height: 40px;
  float: left;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.header-top ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  float: none;
}
.social-icons ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  float: none;
}
#search_value {
  height: 40px;
  border-radius: 0;
}
.dropdown-menu {
  top: 61%;
  border-radius: 0;
}
.cart {
  margin-right: 20px;
  margin-left: 20px;
}
.cart .nav {
  height: 40px;
  background-color: #ed764f;
  border-radius: 0;
}
.cart .nav li {
  height: 40px;
}
.cart .nav li a {
  padding-top: 10px !important;
  color: white;
}
.input-group .form-control {
  width: 100%;
}
.navbar-brand-text {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 90px;
}
.categories-search button {
  height: 40px;
  border-radius: 0;
}
.search-input {
  margin-top: 60px;
}
.logo-img {
  width: 200px;
  height: 117px;
  margin-bottom: 10px;
}
<<<<<<< HEAD
=======
.header-bottom-content {
  width: 100%;
  height: 40px;
  float: left;
  background-color: #3c3b48;
  position: relative;
}
.full-category {
  background-color: #ed764f;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 13px 1px;
  text-transform: uppercase;
}
.product-items-box .item-box .title h3 a:hover {
  text-decoration: -moz-anchor-decoration;
}
.product-item {
  margin: 0 -6px 0 0px !important;
  padding-left: 12px;
  padding-right: 12px;
}
.full-category i {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 21px;
  float: left;
  line-height: 1;
  margin-top: -3px;
  color: white;
}
.line-menu {
  display: -webkit-box;
  display: flex;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.line-menu li {
  margin-left: 12px;
  padding: 11px 18px;
  position: relative;
  text-transform: uppercase;
}
.mobile_ {
  margin-left: -15px;
  margin-right: 15px;
}
.home-carousel-box {
  height: 400px;
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.3);
}
.line-menu li a {
  color: white;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 120%;
  font-weight: 800;
}
.line-menu li a:hover,
.line-menu li a.active {
  color: white;
}
.bella-cat {
  position: relative;
}
.bella-cat .vert-category {
  z-index: 10;
  height: 100%;
}
.bella-cat .vert-category ul {
  padding: 0;
  list-style: none;
  color: black;
  background-color: white;
  height: 100%;
}
.bella-cat .vert-category ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bella-cat .vert-category ul li a {
  color: black;
  display: block;
  font-size: 13px;
  padding: 15px 0 15px 22px;
}
.bella-cat .vert-category:hover ul {
  background-color: #f9f9fa;
}
.bella-cat .vert-category:hover ul li a {
  color: #555 !important;
}
.bella-cat .vert-category ul li:hover a {
  color: #f84cb9;
  background: #fff;
}
>>>>>>> 3ef31daf16107c9bb7584f74e85fbf544909b5bb
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login button {
  font-family: "Roboto", sans-serif;
  text-translogin: uppercase;
  outline: 0;
  background: #3c3b48;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login button:hover,
.login button:active,
.login button:focus {
  background: #ed764f;
}
.login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login .message a {
  color: #3c3b48;
  text-decoration: none;
}
.global-panels {
  margin-left: 4%;
  margin-right: 4%;
}
.pd-image {
  width: 100px;
  height: 100px;
}
.producttitle {
  background: url(http://glory.demo1.wpdance.com/supermarket/wp-content/themes/wp_glory/images/media/bg-breadcrumb.jpg);
  background-position: center center!important;
  background-size: cover !important;
  position: relative;
  z-index: 0;
  padding: 35px 0;
}
.titlecolor {
  color: white;
}
.container-fluid {
  background-color: white;
}
.price {
  color: #ed764f;
}
.social {
  float: right;
}
.quantity {
  width: auto;
  margin: 0 1px;
}
.breadcrumbstext .breadcrumb {
  background-color: transparent !important;
}
.breadcrumbstext .breadcrumb a {
  color: white;
}
.breadcrumb > .active {
  color: white;
}
.pdimage {
  width: 450px;
}
.return-shipping {
  border-top: 1px solid #ebebeb;
  padding-top: 30px;
  margin-top: 24px;
}
.return-shipping .content-quick {
  border: 1px dashed #ed7952;
  padding: 29px 19px 29px 78px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: white;
}
.btn-info2 {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #000;
  background-color: #ddd;
}
.twitter {
  color: #000;
  background-color: #dddddd;
}
.titlelines {
  background-color: #f90000;
  height: 2px;
  display: block;
  margin: 6px 0 20px;
  width: 30px;
}
.page-headers {
  margin: 40px 40px 20px;
}
.product-img-box {
  position: relative;
}
.product-img-box img {
  width: 100%;
  height: auto;
}
.thumbnail {
  border: 0px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15%;
}
h6 a {
  color: #3c3b48;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Lato|Raleway) format("truetype");
}
h6 {
  text-align: center;
}
.product-box {
  position: relative;
  margin-bottom: 30px;
}
.product-box:hover .product-actions {
  visibility: visible;
  margin-top: -40px;
}
.product-box:hover .product-image-hover {
  background: rgba(0, 0, 0, 0.15);
}
.product-price {
  font-size: 100%;
  font-weight: 700;
  line-height: 1.3;
  color: inherit;
  font-family: "Lato";
  font-style: normal;
  text-align: center;
}
.product-actions {
  width: 100%;
  height: 40px;
  position: absolute;
  visibility: hidden;
  margin-top: 0px;
  z-index: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}
.product-actions .wrapper {
  color: #bbbfc7;
  padding: 4%;
  cursor: pointer;
  background-color: #Fff;
  height: 40px;
  border: 1px #f2f2f2 solid;
}
.product-actions .wrapper:hover .glyphicon {
  color: #ed764f;
}
.product-actions .wrapper:hover #card_text {
  color: #ed764f;
}
.product-actions .glyphicon-shopping-cart {
  color: #ed764f;
  margin-right: 5%;
}
.product-actions .glyphicon-heart,
.product-actions .glyphicon-eye-open {
  color: #bbbfc7;
  width: 100%;
  text-align: center;
}
.product-type {
  color: white;
  -moz-transform: rotate(45deg);
  margin-left: 25px;
  margin-top: 14px;
  position: absolute;
}
.product-image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
<<<<<<< HEAD
  background: rgba(0, 0, 0, 0.03);
=======
  background: rgba(0, 0, 0, 0.08);
>>>>>>> 3ef31daf16107c9bb7584f74e85fbf544909b5bb
}
.wpb_tour.wd_prod_style.wpb_content_element .wpb_tour_tabs_wrapper {
  min-height: 250px;
  border: 1px solid #ebebeb;
  padding: 0;
  border-top: 0;
  position: relative;
  overflow: hidden;
}
.wd_prod_style .vc_tours_heading_box {
  height: 92px;
  overflow: hidden;
  padding: 15px 20px;
  width: 18%;
  max-width: 218px;
}
.wd_prod_style .vc_tours_heading_box h4 {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 0;
}
.wd_prod_style.wpb_content_element .wpb_tabs_nav {
  width: 18%;
  /* max-width: 218px; */
  border: none;
  position: relative;
  padding-top: 14px;
  padding-bottom: 147px;
}
.wd_prod_style.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  width: 82%;
  margin-top: -90px;
  padding: 25px 30px;
  background: #fff;
  position: relative;
}
.demo ul li {
  border: 1px solid transparent;
  border-width: 1px 0;
  white-space: inherit;
  list-style: none;
  padding-left: 20px;
}

/*# sourceMappingURL=app.css.map */
