@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,
body {
  height: 100%;
  font-weight: 300;
  background-color: #fafafa;
}
a {
  color: black;
}
footer {
  background: white;
  margin-top: 60px;
  padding-top: 47px;
  padding-bottom: 35px;
  border-top: 1px solid #eee;
}
footer .menu {
  text-align: center;
}
footer .menu h3 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 600;
}
footer .menu ul {
  list-style-type: none;
  padding: 0;
}
footer .menu ul li {
  display: block;
  margin-bottom: 9px;
}
.cat-controller-nav form .input-group button {
  float: left;
}
.search-nav {
  border-bottom: 1px solid #e3e3e3;
}
.glyphicon {
  top: 0 !important;
}
.header-top {
  width: 100%;
  height: 40px;
  float: left;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.header-top ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  float: none;
}
.social-icons ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  float: none;
}
#search_value {
  margin-top: 8px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login button {
  font-family: "Roboto", sans-serif;
  text-translogin: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login button:hover,
.login button:active,
.login button:focus {
  background: #43A047;
}
.login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login .message a {
  color: #4CAF50;
  text-decoration: none;
}
.product-img-box img {
  width: 200px;
  height: 200px;
}
.pd-image {
  width: 100px;
  height: 100px;
}
.thumbnail {
  border: 0px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15%;
}
.wrapper {
  padding: 4%;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #F2F2F2;
  height: 7%;
}
h6 a {
  color: #3c3b48;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Lato|Raleway) format("truetype");
}
h6 {
  text-align: center;
}
.product-price {
  font-size: 100%;
  font-weight: 700;
  line-height: 1.3;
  color: inherit;
  font-family: "Lato";
  font-style: normal;
  text-align: center;
}
.product-actions .wrapper .glyphicon:hover {
  color: orange;
}
.product-actions .wrapper .glyphicon {
  color: #bbbfc7;
}
.producttitle {
  background: url(http://glory.demo1.wpdance.com/supermarket/wp-content/themes/wp_glory/images/media/bg-breadcrumb.jpg);
  background-position: center center!important;
  background-size: cover !important;
  position: relative;
  z-index: 0;
  padding: 77px 0;
}
.titlecolor {
  color: white;
}
.container-fluid {
  background-color: white;
}
.price {
  color: #ed764f;
}
.social {
  float: right;
}

/*# sourceMappingURL=app.css.map */
