<!DOCTYPE html>
<html class="bootstrap-layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Email</title>

  <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
  <meta name="robots" content="noindex">

  <!-- Material Design Icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Roboto Web Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

  <!-- App CSS -->
  <link type="text/css" href="assets/css/style.min.css" rel="stylesheet">

  <!-- Required by summernote -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css">

  <!-- Summernote WYSIWYG -->
  <link rel="stylesheet" href="examples/css/summernote.min.css">

</head>

<body class="layout-container ls-top-navbar si-l3-md-up">

  <!-- Navbar -->
  <nav class="navbar navbar-full navbar-fixed-top navbar-light bg-white ls-left-sidebar">

    <!-- Sidebar toggle -->
    <button class="navbar-toggler pull-xs-left hidden-lg-up" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

    <!-- Navbar toggle -->
    <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="true"><span class="material-icons">menu</span></button>

    <!-- Brand -->
    <a class="navbar-brand first-child-lg" href="index.html">Email</a>

    <!-- Collapse -->
    <div class="collapse navbar-toggleable-xs" id="navbarMenu">

      <!-- Menu -->
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
          <div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
            <a class="dropdown-item" href="timeline.html">
              <i class="material-icons md-18">dashboard</i> <span class="icon-text">Timeline</span>
            </a>
            <a class="dropdown-item active" href="email.html">
              <i class="material-icons md-18">mail</i> <span class="icon-text">Email</span>
            </a>
            <a class="dropdown-item" href="user-profile.html">
              <i class="material-icons md-18">person</i> <span class="icon-text">Profile</span>
            </a>
            <a class="dropdown-item" href="reports.html">
              <i class="material-icons md-18">assessment</i> <span class="icon-text">Reports</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">Components</a>
          <div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
            <a href="ui-buttons.html" class="dropdown-item">Buttons</a>
            <a href="ui-cards.html" class="dropdown-item">Cards</a>
            <a href="ui-tabs.html" class="dropdown-item">Tabs</a>
            <a href="ui-tree.html" class="dropdown-item">Tree</a>
            <a href="ui-nestable.html" class="dropdown-item">Nestable</a>
            <a href="ui-notifications.html" class="dropdown-item">Notifications</a>
            <a href="forms.html" class="dropdown-item">Forms</a>
            <a href="ui-tables.html" class="dropdown-item">Tables</a>
            <a href="charts.html" class="dropdown-item">Charts</a>
            <a href="calendar.html" class="dropdown-item">Calendar</a>
            <a href="maps.html" class="dropdown-item">Filterable Map</a>
            <a href="maps-vector.html" class="dropdown-item">Vector Maps</a>
          </div>
        </li>
      </ul>
      <!-- // END Menu -->

    </div>
    <!-- // END Collapse -->

  </nav>
  <!-- // END Navbar -->

  <!-- Sidebar -->
  <div class="sidebar sidebar-left si-si-3 sidebar-visible-md-up sidebar-light bg-white" id="sidebarLeft" data-scrollable>

    <!-- Brand -->
    <a href="index.html" class="sidebar-brand">
      <i class="material-icons">control_point</i> AdminPlus
    </a>

    <!-- Email -->
    <ul class="sidebar-email">
      <li class="sidebar-email-item center">
        <a href="#" class="btn btn-success btn-rounded"><i class="material-icons md-18">create</i> <span class="icon-text">Compose</span></a>
      </li>
      <li class="sidebar-email-item new">
        <a class="nav-link" href="index.html">
          <small class="pull-right text-muted">12:20</small>
          <strong>Adrian Demian</strong>
          <span class="sidebar-email-subject">Enhance your website with</span>
          <span class="sidebar-email-message">When we started the design I've build it from the grounds up... </span>
        </a>
      </li>
      <li class="sidebar-email-item active">
        <a class="nav-link" href="index.html">
          <small class="pull-right text-muted">1 day</small>
          <strong>Laza Bogdan</strong>
          <span class="sidebar-email-subject">Was up?</span>
          <span class="sidebar-email-message">Do you recogn we're going LIVE? </span>
        </a>
      </li>
      <li class="sidebar-email-item new">
        <a class="nav-link" href="index.html">
          <small class="pull-right text-muted">12:20</small>
          <strong>Andrew Brain</strong>
          <span class="sidebar-email-subject">Beer tonight?</span>
          <span class="sidebar-email-message">Are we on for a beer tonight?</span>
        </a>
      </li>
      <li class="sidebar-email-item">
        <a class="nav-link" href="index.html">
          <small class="pull-right text-muted">12:20</small>
          <strong>Michelle Smith</strong>
          <span class="sidebar-email-subject">Design Approval</span>
          <span class="sidebar-email-message">Hi Adrian, Please sign off the design so we can get it to ... </span>
        </a>
      </li>
    </ul>
    <!-- // END Email -->

  </div>
  <!-- // END Sidebar -->

  <!-- Right Sidebars -->

  <!-- Content -->
  <div class="layout-content" data-scrollable>
    <div class="container-fluid">

      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Email</li>
      </ol>
      <div class="card">
        <div class="card-block">
          <div class="media">
            <div class="media-body media-middle">
              <h4 class="m-b-0">Re: Quick Status</h4>
              <p class="text-muted m-b-0"><a href="#">contact@mosaicpro.biz</a> on 12 Nov 2015</p>
            </div>
            <div class="media-right media-middle text-xs-right">
              <div class="btn-group-vertical">
                <button type="button" class="btn btn-white btn-xs"><i class="material-icons md-18">reply</i></button>
                <button type="button" class="btn btn-white btn-xs text-danger"><i class="material-icons md-18">delete</i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block p-t-0">
          <p>Hi Smith,</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, deleniti excepturi laborum neque nostrum reprehenderit repudiandae sequi voluptatem.</p>
          <p>Regards,
            <br>Adrian</p>
          <p class="text-muted small">On 02 Mar 2015, at 17:00, Bill
            <noreply @email.com=""> wrote:</noreply>
          </p>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid asperiores cupiditate, magnam modi provident quaerat quibusdam? Fuga, laborum, necessitatibus?</p>
          </blockquote>
        </div>
      </div>
      <p class="lead text-muted">Attachments <i class="material-icons">attachment</i></p>
      <ul class="list-group m-b-1">
        <li class="list-group-item">
          <div class="media">
            <div class="media-body media-middle">
              <a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Filename</a> <span class="text-muted">(24 kb)</span>
            </div>
            <div class="media-right">
              <a href="javascript:alert('download action')" class="btn btn-default-dark btn-xs">
                <i class="md md-file-download"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <div class="media-body media-middle">
              <a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Filename</a> <span class="text-muted">(24 kb)</span>
            </div>
            <div class="media-right">
              <a href="javascript:alert('download action')" class="btn btn-default-dark btn-xs"><i class="md md-file-download"></i></a>
            </div>
          </div>
        </li>
      </ul>
      <p class="lead text-muted">Reply</p>
      <form action="#">
        <div class="form-group">
          <textarea name="reply" id="summernote" cols="30" rows="5" placeholder="Write here ..." class="form-control"></textarea>
        </div>
        <a href="#" class="btn btn-primary"><i class="md md-reply"></i> Reply</a>
      </form>

    </div>
  </div>

  <!-- jQuery -->
  <script src="assets/vendor/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="assets/vendor/tether.min.js"></script>
  <script src="assets/vendor/bootstrap.min.js"></script>

  <!-- AdminPlus -->
  <script src="assets/vendor/adminplus.js"></script>

  <!-- App JS -->
  <script src="assets/js/main.min.js"></script>

  <!-- WYSIWYG (summernote) -->
  <script src="../node_modules/summernote/dist/summernote.min.js"></script>

  <!-- Init -->
  <script src="examples/js/summernote.js"></script>

</body>

</html>