<!DOCTYPE html>
<html class="bootstrap-layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Timeline</title>

  <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
  <meta name="robots" content="noindex">

  <!-- Material Design Icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Roboto Web Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

  <!-- App CSS -->
  <link type="text/css" href="assets/css/style.min.css" rel="stylesheet">

</head>

<body class="layout-container ls-top-navbar si-l3-md-up">

  <!-- Navbar -->
  <nav class="navbar navbar-full navbar-fixed-top navbar-light bg-white ls-left-sidebar">

    <!-- Sidebar toggle -->
    <button class="navbar-toggler pull-xs-left hidden-lg-up" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

    <!-- Navbar toggle -->
    <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="true"><span class="material-icons">menu</span></button>

    <!-- Brand -->
    <a class="navbar-brand first-child-lg" href="index.html">Timeline</a>

    <!-- Collapse -->
    <div class="collapse navbar-toggleable-xs" id="navbarMenu">

      <!-- Menu -->
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
          <div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
            <a class="dropdown-item active" href="timeline.html">
              <i class="material-icons md-18">dashboard</i> <span class="icon-text">Timeline</span>
            </a>
            <a class="dropdown-item" href="email.html">
              <i class="material-icons md-18">mail</i> <span class="icon-text">Email</span>
            </a>
            <a class="dropdown-item" href="user-profile.html">
              <i class="material-icons md-18">person</i> <span class="icon-text">Profile</span>
            </a>
            <a class="dropdown-item" href="reports.html">
              <i class="material-icons md-18">assessment</i> <span class="icon-text">Reports</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">Components</a>
          <div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
            <a href="ui-buttons.html" class="dropdown-item">Buttons</a>
            <a href="ui-cards.html" class="dropdown-item">Cards</a>
            <a href="ui-tabs.html" class="dropdown-item">Tabs</a>
            <a href="ui-tree.html" class="dropdown-item">Tree</a>
            <a href="ui-nestable.html" class="dropdown-item">Nestable</a>
            <a href="ui-notifications.html" class="dropdown-item">Notifications</a>
            <a href="forms.html" class="dropdown-item">Forms</a>
            <a href="ui-tables.html" class="dropdown-item">Tables</a>
            <a href="charts.html" class="dropdown-item">Charts</a>
            <a href="calendar.html" class="dropdown-item">Calendar</a>
            <a href="maps.html" class="dropdown-item">Filterable Map</a>
            <a href="maps-vector.html" class="dropdown-item">Vector Maps</a>
          </div>
        </li>
      </ul>
      <!-- // END Menu -->

    </div>
    <!-- // END Collapse -->

  </nav>
  <!-- // END Navbar -->

  <!-- Sidebar -->
  <div class="sidebar sidebar-left si-si-3 sidebar-visible-md-up sidebar-light bg-white" id="sidebarLeft" data-scrollable>

    <!-- Brand -->
    <a href="index.html" class="sidebar-brand">
      <i class="material-icons">control_point</i> AdminPlus
    </a>

    <!-- Activity -->
    <ul class="sidebar-activity">
      <li class="media active">
        <div class="media-left">
          <img src="assets/images/people/50/woman-5.jpg" alt="" width="30" class="img-circle">
        </div>
        <div class="media-body">
          <a href="#">Michelle Gomez</a> added <a href="#">Adrian D.</a> as friend.
          <small>5 min ago</small>
        </div>
      </li>
      <li class="media active">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#">Adrian Demian</a> posted a new <a href="#">#Design</a>
          <small>1 hr ago</small>
        </div>
      </li>
      <li class="media">
        <div class="media-left">
          <img src="assets/images/people/50/guy-8.jpg" alt="" width="30" class="img-circle">
        </div>
        <div class="media-body">
          <a href="#">Bill Scotty</a> set a new <a href="#">#trend</a>
          <small>2 days ago</small>
        </div>
      </li>
      <li class="media">
        <div class="media-left">
          <img src="assets/images/people/50/guy-6.jpg" alt="" width="30" class="img-circle">
        </div>
        <div class="media-body">
          <a href="#">Laza Bohdan</a> set a new <a href="#">highscore</a>
          <small>5 days ago</small>
        </div>
      </li>
      <li class="media">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">today</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#">Andrew Brain</a> completed his <a href="#">#work</a>
          <small>1 month ago</small>
        </div>
      </li>
      <li class="media">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">person</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#">John Donahue</a> set a new <a href="#">#trend</a>
          <small>2 months ago</small>
        </div>
      </li>
      <li class="media">
        <div class="media-left">
          <img src="assets/images/people/50/woman-5.jpg" alt="" width="30" class="img-circle">
        </div>
        <div class="media-body">
          <a href="#">Michelle Gomez</a> added <a href="#">Adrian D.</a> as friend.
          <small>3 months ago</small>
        </div>
      </li>
      <li class="media">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#">Adrian Demian</a> posted a new <a href="#">#Design</a>
          <small>4 months ago</small>
        </div>
      </li>
    </ul>
    <!-- // END Activity -->

  </div>
  <!-- // END Sidebar -->

  <!-- Right Sidebars -->

  <!-- Content -->
  <div class="layout-content" data-scrollable>
    <div class="container-fluid">

      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Timeline</li>
      </ol>
      <div class="card card-user-cover">
        <div class="preview">
          <img src="assets/images/cover/preview.jpg" />
        </div>
        <div class="user">
          <a href="#" class="avatar">
            <img src="assets/images/people/110/guy-6.jpg" alt="avatar" class="img-circle" width="80">
          </a>
        </div>
        <ul class="menu">
          <li class="active"><a href="#"><i class="material-icons">person_outline</i> <span class="icon-text">Timeline</span></a></li>
          <li><a href="#"><i class="material-icons">camera</i> <span class="icon-text">Photos</span></a></li>
          <li><a href="#"><i class="material-icons">group</i> <span class="icon-text">Friends</span></a></li>
          <li class="pull-right"><a class="visible-xs visible-sm" id="chatMessages"><i class="md md-comment"></i></a></li>
        </ul>
      </div>
      <div class="card-columns">
        <!-- Post Photos -->
        <div class="card">
          <div class="card-block">
            <div class="media m-b-1">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/people/110/guy-2.jpg" alt="avatar" class="img-circle" width="45">
                </a>
              </div>
              <div class="media-body media-middle">
                <div><a href="#">Adrian</a> added some photos</div>
                <small class="text-muted">2 days ago</small>
              </div>
            </div>
            <div class="post-content">
              <a href="#">
                <img src="assets/images/timeline/place1.jpg" alt="">
              </a>
              <a href="#">
                <img src="assets/images/timeline/place2.jpg" alt="">
              </a>
              <a href="#">
                <img src="assets/images/timeline/place3.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="small bg-faded" style="padding:0.3rem 1rem;">
            <a href="#"><i class="fa fa-comments-o"></i> View all</a>
            <span class="text-muted">2 comments</span>
          </div>
          <ul class="list-unstyled">
            <li class="media m-a-1">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/people/50/guy-6.jpg" class="img-circle" width="40">
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                  <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a>
                    </li>
                    <li><a href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <a href="" class="comment-author">Bill D.</a> <span>Hi Mary, Nice Party</span>
                <div class="small text-muted">5 days ago</div>
              </div>
            </li>
            <li class="m-a-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Type here ...">
                <span class="input-group-btn">
					<button class="btn btn-primary" type="button"><i class="material-icons md-18">comment</i></button>
				</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- // END Post Photos -->
        <!-- Widget Birthday -->
        <div class="card-primary card-block center m-b-1">
          <blockquote class="card-blockquote">
            <div class="center m-b-1">
              <i class="material-icons md-48">cake</i>
            </div>
            <p class="m-b-0">It's Andrew's Birthday Today! </p>
          </blockquote>
        </div>
        <!-- // END Widget Birthday -->
        <!-- Post Video -->
        <div class="card">
          <div class="card-block">
            <div class="media m-b-1">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/people/110/guy-8.jpg" alt="avatar" class="img-circle" width="45">
                </a>
              </div>
              <div class="media-body media-middle">
                <div><a href="#">Andrew Brain</a> traveling to Miami</div>
                <small class="text-muted">3 hrs ago</small>
              </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9 m-b-1">
              <iframe class="embed-responsive-item" src="//player.vimeo.com/video/50522981?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" style="border:none;"></iframe>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type here ...">
              <span class="input-group-btn">
				<button class="btn btn-primary" type="button"><i class="material-icons md-18">comment</i></button>
			</span>
            </div>
          </div>
        </div>
        <!-- // END Post Video -->
        <!-- Post Regular -->
        <div class="card">
          <div class="card-block">
            <div class="media m-b-1">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/people/110/guy-8.jpg" alt="avatar" class="img-circle" width="45">
                </a>
              </div>
              <div class="media-body media-middle">
                <div><a href="#">Andrew Brain</a> traveling to Miami</div>
                <small class="text-muted">3 hrs ago</small>
              </div>
            </div>
            <p class="m-a-0">Yay! Ready for the Party!</p>
          </div>
          <div class="small bg-faded" style="padding:0.3rem 1rem;">
            <a href="#"><i class="fa fa-comments-o"></i> View all</a>
            <span class="text-muted">10 comments</span>
          </div>
          <ul class="list-unstyled">
            <li class="media m-a-1">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/people/50/guy-6.jpg" class="img-circle" width="40">
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                  <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a>
                    </li>
                    <li><a href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <a href="" class="comment-author">Bill D.</a> <span>Hi Mary, Nice Party</span>
                <div class="small text-muted">5 days ago</div>
              </div>
            </li>
            <li class="media m-a-1">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/people/50/woman-5.jpg" class="img-circle" width="40">
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                  <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a>
                    </li>
                    <li><a href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <a href="" class="comment-author">Mary</a> <span>Thanks Bill</span>
                <div class="small text-muted">2 days</div>
              </div>
            </li>
            <li class="media m-a-1">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/people/50/guy-8.jpg" class="img-circle" width="40">
                </a>
              </div>
              <div class="media-body">
                <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                  <a href="#" data-toggle="dropdown" class="toggle-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Edit</a>
                    </li>
                    <li><a href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <a href="" class="comment-author">Andrew</a> <span>What time did it finish?</span>
                <div class="small text-muted">21 min</div>
              </div>
            </li>
            <li class="m-a-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Type here ...">
                <span class="input-group-btn">
					<button class="btn btn-primary" type="button"><i class="material-icons md-18">comment</i></button>
				</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- // END Post Regular -->
      </div>

    </div>
  </div>

  <!-- jQuery -->
  <script src="assets/vendor/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="assets/vendor/tether.min.js"></script>
  <script src="assets/vendor/bootstrap.min.js"></script>

  <!-- AdminPlus -->
  <script src="assets/vendor/adminplus.js"></script>

  <!-- App JS -->
  <script src="assets/js/main.min.js"></script>

</body>

</html>