<!DOCTYPE html>
<html class="bootstrap-layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Profile</title>

  <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
  <meta name="robots" content="noindex">

  <!-- Material Design Icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Roboto Web Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

  <!-- App CSS -->
  <link type="text/css" href="assets/css/style.min.css" rel="stylesheet">

</head>

<body class="layout-container ls-top-navbar si-l3-md-up">

  <!-- Navbar -->
  <nav class="navbar navbar-full navbar-fixed-top navbar-light bg-white ls-left-sidebar">

    <!-- Sidebar toggle -->
    <button class="navbar-toggler pull-xs-left hidden-lg-up" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

    <!-- Navbar toggle -->
    <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="true"><span class="material-icons">menu</span></button>

    <!-- Brand -->
    <a class="navbar-brand first-child-lg" href="index.html">Profile</a>

    <!-- Collapse -->
    <div class="collapse navbar-toggleable-xs" id="navbarMenu">

      <!-- Menu -->
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item active dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
          <div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
            <a class="dropdown-item" href="timeline.html">
              <i class="material-icons md-18">dashboard</i> <span class="icon-text">Timeline</span>
            </a>
            <a class="dropdown-item" href="email.html">
              <i class="material-icons md-18">mail</i> <span class="icon-text">Email</span>
            </a>
            <a class="dropdown-item active" href="user-profile.html">
              <i class="material-icons md-18">person</i> <span class="icon-text">Profile</span>
            </a>
            <a class="dropdown-item" href="reports.html">
              <i class="material-icons md-18">assessment</i> <span class="icon-text">Reports</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">Components</a>
          <div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
            <a href="ui-buttons.html" class="dropdown-item">Buttons</a>
            <a href="ui-cards.html" class="dropdown-item">Cards</a>
            <a href="ui-tabs.html" class="dropdown-item">Tabs</a>
            <a href="ui-tree.html" class="dropdown-item">Tree</a>
            <a href="ui-nestable.html" class="dropdown-item">Nestable</a>
            <a href="ui-notifications.html" class="dropdown-item">Notifications</a>
            <a href="forms.html" class="dropdown-item">Forms</a>
            <a href="ui-tables.html" class="dropdown-item">Tables</a>
            <a href="charts.html" class="dropdown-item">Charts</a>
            <a href="calendar.html" class="dropdown-item">Calendar</a>
            <a href="maps.html" class="dropdown-item">Filterable Map</a>
            <a href="maps-vector.html" class="dropdown-item">Vector Maps</a>
          </div>
        </li>
      </ul>
      <!-- // END Menu -->

    </div>
    <!-- // END Collapse -->

  </nav>
  <!-- // END Navbar -->

  <!-- Sidebar -->
  <div class="sidebar sidebar-left si-si-3 sidebar-visible-md-up sidebar-dark bg-primary" id="sidebarLeft" data-scrollable>

    <!-- Brand -->
    <a href="index.html" class="sidebar-brand">
      <i class="material-icons">control_point</i> AdminPlus
    </a>

    <!-- Avatar -->
    <div class="sidebar-user-center">
      <a href="user-profile.html" class="sidebar-user-avatar">
        <img src="assets/images/people/110/guy-6.jpg" alt="" class="img-circle">
      </a>
      <div class="user-info">
        <a href="#" class="h6">Adrian Demian</a>
      </div>
      <div class="user-extras">
        <a href="#"><i class="material-icons">contacts</i> 124</a>
        <a href="#"><i class="material-icons">star</i> 11</a>
        <a href="#"><i class="material-icons">group</i> 59</a>
      </div>
    </div>

    <!-- User Menu -->
    <ul class="sidebar-menu">
      <li class="sidebar-menu-item active">
        <a class="sidebar-menu-button" href="index.html">
          <i class="sidebar-menu-icon material-icons">person_outline</i> Profile
        </a>
      </li>
      <li class="sidebar-menu-item">
        <a class="sidebar-menu-button" href="index.html">
          <i class="sidebar-menu-icon material-icons">lock</i> Edit Account
        </a>
      </li>
      <li class="sidebar-menu-item">
        <a class="sidebar-menu-button" href="index.html">
          <i class="sidebar-menu-icon material-icons">security</i> Change Password
        </a>
      </li>
      <li class="sidebar-menu-item">
        <a class="sidebar-menu-button" href="index.html">
          <i class="sidebar-menu-icon material-icons">settings</i> Settings
        </a>
      </li>
    </ul>

    <!-- About -->
    <div class="sidebar-heading">About</div>
    <p>I'm a senior UI designer that enjoys crafting static designs.</p>

    <div class="sidebar-heading">Skills</div>
    <p>
      <span class="sidebar-label label label-default">HTML</span>
      <span class="sidebar-label label label-default">CSS</span>
      <span class="sidebar-label label label-default">PHOTOSHOP</span>
      <span class="sidebar-label label label-default">NODE</span>
      <span class="sidebar-label label label-default">HTML</span>
    </p>

  </div>
  <!-- // END Sidebar -->

  <!-- Right Sidebars -->

  <!-- Content -->
  <div class="layout-content" data-scrollable>
    <div class="container-fluid">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Profile</li>
      </ol>
      <!-- // END Breadcrumb -->

      <!-- Row -->
      <div class="row">

        <!-- Column -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Activity Feed</h5>
            </div>
            <ul class="list-group list-group-fit">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <img src="assets/images/people/110/guy-5.jpg" alt="" width="40" class="img-circle">
                  </div>
                  <div class="media-body">
                    <p class="m-a-0">
                      <a href="#">Sam</a> added a new photos:
                    </p>
                    <div class="small text-muted"><i class="material-icons md-18">timer</i> <span class="icon-text">5 hrs ago</span></div>
                    <div class="p-t-1">
                      <a href="#">
                        <img src="assets/images/timeline/place1.jpg" alt="" width="80">
                      </a>
                      <a href="#">
                        <img src="assets/images/timeline/place2.jpg" alt="" width="80">
                      </a>
                      <a href="#">
                        <img src="assets/images/timeline/place3.jpg" alt="" width="80">
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left media-middle">
                    <i class="material-icons md-36 text-muted">person</i>
                  </div>
                  <div class="media-body">
                    <p class="m-a-0">
                      <a href="#">John</a> created a new <a href="#">task</a>
                    </p>
                    <small class="text-muted"><i class="material-icons md-18">today</i> <span class="icon-text">1 day ago</span></small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left media-middle">
                    <i class="material-icons md-36 text-muted">group_add</i>
                  </div>
                  <div class="media-body">
                    <p class="m-a-0">
                      <a href="#">Partick</a> added <a href="#">Sam</a> are now friends.
                    </p>
                    <small class="text-muted"><i class="material-icons md-18">today</i> <span class="icon-text">2 days ago</span></small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- // END Column -->

        <!-- Column -->
        <div class="col-md-4">

          <!-- Summary -->
          <div class="card">
            <div class="card-header bg-white">
              <h5 class="card-title">Summary</h5>
            </div>
            <div class="list-group list-group-sm list-group-fit">
              <div class="list-group-item">
                <span class="text-primary pull-xs-right strong">30</span> New Friends
              </div>
              <div class="list-group-item">
                <span class="text-primary pull-xs-right strong">391</span> Likes
              </div>
              <div class="list-group-item">
                <span class="text-primary pull-xs-right strong">$1.390,00</span> Cash
              </div>
            </div>
          </div>
          <!-- // END Summary -->

          <!-- Friends -->
          <div class="card">
            <div class="card-header bg-white">
              <h5 class="card-title">Friends</h5>
            </div>
            <div class="user-profile-friends">
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/guy-8.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/guy-4.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/woman-9.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/guy-2.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/woman-5.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/guy-1.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/woman-3.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/woman-6.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/guy-9.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/guy-2.jpg" alt="">
              </a>
              <a href="#" class="photo-link">
                <img src="assets/images/people/110/guy-1.jpg" alt="">
              </a>
              <div class="clearfix"></div>
            </div>
            <div class="card-block card-block-half center">
              <a href="#" class="btn btn-default btn-sm">View All</a>
            </div>
          </div>
          <!-- // END Friends -->

          <!-- Messages -->
          <div class="card">
            <div class="card-header bg-white">
              <h5 class="card-title">Messages</h5>
            </div>
            <div class="list-group list-group-sm list-group-fit">
              <div class="list-group-item">
                <small class="text-muted pull-xs-right">1 hr ago</small>
                <img src="assets/images/people/110/guy-6.jpg" width="25" class="img-circle" alt="People">
                <a href="#">Beer tonight?</a>
              </div>
              <div class="list-group-item">
                <small class="text-muted pull-xs-right">2 hrs ago</small>
                <img src="assets/images/people/110/woman-10.jpg" width="25" class="img-circle" alt="People">
                <a href="#">Thanks for the beautiful ...</a>
              </div>
              <div class="list-group-item">
                <small class="text-muted pull-xs-right">5 hrs ago</small>
                <img src="assets/images/people/110/guy-9.jpg" width="25" class="img-circle" alt="People">
                <a href="#">Beta app ready! What next?</a>
              </div>
              <div class="list-group-item">
                <small class="text-muted pull-xs-right">2 days ago</small>
                <img src="assets/images/people/110/guy-3.jpg" width="25" class="img-circle" alt="People">
                <a href="#">Join our group. We're ...</a>
              </div>
            </div>
          </div>
          <!-- // END Messages -->

        </div>
        <!-- // END column -->

      </div>
      <!-- // END row -->

    </div>
  </div>

  <!-- jQuery -->
  <script src="assets/vendor/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="assets/vendor/tether.min.js"></script>
  <script src="assets/vendor/bootstrap.min.js"></script>

  <!-- AdminPlus -->
  <script src="assets/vendor/adminplus.js"></script>

  <!-- App JS -->
  <script src="assets/js/main.min.js"></script>

</body>

</html>