.vert-category {
    li {
        width: 100%;
    }
    a {
        display: block;
        position: relative;
        padding: 9px 0 9px 55px;
        border-bottom: 1px solid #f0f0f0;
        color: #666;
        @extend .transition;
        &:hover {
            &:before {
                width: 4px;
                position: absolute;
                height: 100%;
                content: "";
                background: #fb9902;
                top: 0;
                left: -4px;
            }
        }
    }
}


/* Product list category */

.vertical-nav {
    .category {
        li {
            width: 100%;
        }
    }
}

.cate-more {
    width: 100%;
    float: left;
    font-size: 20px;
    margin-bottom: 10px;
}