#menu-left-category {
	.category, .brands, .price-range {
    	border: 1px solid #e8e8e8;

    	h3 {
    		padding: 10px;
    		font-weight: 600;
    	}

    	li {
    		float: left;
    		width: 100%;

    		a {
    			padding: 0 !important;
    		}
    	}

    	& > small {
    		float: left;
    		width: 100%;
    	}
	}
}