@media screen and (max-width: 320px) {
    .navbar-header {
        .dropdown-menu {
            left: -45%;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar-header {
        .dropdown-menu {
            left: -45%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .navbar-header {
        .dropdown-menu {
            left: -45%;
        }
    }
}
