$dark: #030303;
$darkGrey: #41292C;
$blue: #47b1e2;
$white: #fff;
$golden: #EEC643;
$grey: #C6D4FF;
$btnHover: #83C9F4;
$boxGreen: #2ab27b;
$boxPink: #e32072;
$boxYellow: #EDB431;
$boxBlue: #4B6BC6;

.transition {
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transtion: all .3s ease-out;
    -o-transiton: all .3s ease-out;
}
