.li {
    padding: 10px 0 0;
}

#menu-left-category ul{
	li {
		width: 100%;
	 	
	 	a {
	 		padding: 0 0 10px 0 !important;
			text-transform: uppercase;
	 	}
		
		small {
			float: right;
		}
		span {
			float: right;
		}

	}
	small{
			font-size:17px;
	}
}

.categories-panel {
    max-width: 250px;
}

