footer{
  background: #3c3b48;
  margin-top: 60px;
  padding-top: 47px;
  border-top: 1px solid #eee;

  .menu {
          text-align: initial;
      h3 {
          margin-top: 0;
          text-transform: uppercase;
          letter-spacing: 4px;
          font-size: 14px;
          font-weight: 600;
      }

      ul {
          list-style-type: none;
          padding: 0;

          li {
              display: block;
              margin-bottom: 9px;
          }
      }
  }
}

.footertext{
  line-height: 1.65;
  color: #c5c5c5;
}
.line{
    background: #ed764f;
    height: 2px;
    display: block;
    margin: 6px 0 30px;
}
.line-30 {
    width: 30px;
}


.fa {
  color:white;
      font-size: inherit;
}

.logo-jpg{
  vertical-align: inherit;
}

.rows{
  background-color:#2d2c33;
  height: 50px;
}

.col-sm-4{
  color:white;
}



.subscribe_widget form {
    position: relative;
    height: 40px;
    padding: 5px;
    background: #2d2c33;
    border: 1px solid transparent;
    margin-bottom: 35px;
    display: inline-block;
    width: 100%;
    max-width: 630px;
        border-color: #2d2c33;
            background-color: #2d2c33;
}
.subscribe_widget .subscribe-email {
    float: left;
    width: 70%;
    margin-bottom: 0;
}
.subscribe_widget .subscribe-email > input {
    background: none;
    border: none;
    height: 27px;
}
.dada {
    background: transparent;
    border: none;
    float: right;
    margin-top: 5px;
}

.copyright {
  color: white;
  float: right;
}

.menu-footer {
  list-style: none;
}