html,body{
	height: 100%;
	font-weight: 300;
	background-color: #fafafa;
}

a {
	color: black;
}

.header-top-right-area {
	.dropdown-menu li {
		width: 100%;
		line-height: 20px !important;
	}
}

.row {
     margin-right: 0; 
     margin-left: 0; 
}