.cat-controller-nav {
	form {
		.input-group {
			button {
				float: left;
			}

		}
	}
}

.search-nav {
    border-bottom: 1px solid #e3e3e3;
   	height: 140px;
   	margin-top: -20px;

   	button {
   		height: 40px;
   		border-radius: 0;
   	}

}


.header-top-right-area {
    ul li a span {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
    }
}
.header-top {
	width: 100%;
	height: 40px;
	float: left;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
}

.header-top {
	ul {
		li {
			list-style: none;
			display: inline-block;
		    margin-right: 10px;
		    line-height: 40px;
		    float: none;
		}
	}
}

.social-icons {
	ul {
		li {
			display: inline-block;
		    margin-right: 10px;
		    line-height: 40px;
		    float: none;
		}
	}
}


#search_value {
    height: 40px;
    border-radius: 0;
}

.dropdown-menu{
    top: 61%;
    border-radius: 0;
}

.cart{
	margin-right: 20px;
    margin-left: 20px;

    .nav {
    	height: 40px;
    	background-color: #ed764f;
    	border-radius: 0;

    	li {
    		height: 40px;


    		a {
    			padding-top: 10px !important;
    			color: black ;
    		}
    	}
    } 
}  

.cart .nav li a:hover{
    background:#ed764f;
}

.input-group .form-control{
	width: 100%;
}

.navbar-brand-text {
	width: 200px;
	height: 100px; 
	margin-top: 20px; 
	margin-bottom: 20px; 
	margin-right: 20px;
	margin-left: 90px;

}

.categories-search {
	button {
		height: 40px;
		border-radius: 0;

	}
}

.search-input {
    margin-top: 60px;
}

.logo-img{

	width: 200px;
    height: 117px;
    margin-bottom: 10px; 
}

.header-bottom-content {
	width: 100%;
	height: auto;
	float: left;
	background-color: #3c3b48;
	position: relative;
}

.full-category{
    background-color: #ed764f;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 13px 1px;
    text-transform: uppercase;
}
.product-items-box .item-box .title h3 a:hover {
    text-decoration: -moz-anchor-decoration;
}
.product-item {
    margin: 0 -6px 0 0px !important;
    padding-left: 12px;
    padding-right: 12px;
}
.full-category i{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 21px;
    float: left;
    line-height: 1;
    margin-top: -3px;
    color: white;
}
.line-menu{
    display: flex;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.line-menu li{
    margin-left: 12px;
    padding: 11px 18px;
    position: relative;
    text-transform: uppercase;
}
.mobile_ {
    margin-left: -15px;
    margin-right: 15px;
}

.home-carousel-box {
	height: 400px;
	box-shadow: 0 3px 6px 0 rgba(51,51,51,.3);
}

.line-menu li a{
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 120%;
    font-weight: 800;
}
.line-menu li a:hover, .line-menu li a.active{
    color:white;
}

.bella-cat{
    position: relative;
}
.bella-cat .vert-category{
    z-index: 10;
    height: 100%;
}
.bella-cat .vert-category ul{
    padding: 0;
    list-style: none;
    color: black;
    background-color: white;
    height: 100%;
}
.bella-cat .vert-category ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bella-cat .vert-category ul li a{
    color: black;
    display: block;
    font-size: 13px;
    padding: 15px 0 15px 22px;
}
.bella-cat .vert-category:hover ul{
    background-color: #f9f9fa;
}
.bella-cat .vert-category:hover ul li a{
    color:#555 !important;
}
.bella-cat .vert-category ul li:hover a{
    color: #f84cb9;
    background: #fff;
}


