.product-img-box {
	img {
	    width: 100%;
	    height: 210px;
    }
    position:relative;
}
.thumbnail{
	border:0px;
	text-align:center;
	margin-bottom:0px;
	margin-top:15%;
}


h6 a{
	color: #3c3b48;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Lato|Raleway) format("truetype");
}
h6{
	text-align:center;
	font-size: 12px;
    height: 30px !important;
}

.product-box {
	position: relative;
	margin-bottom: 30px;

	&:hover {
		.product-actions {
			visibility:visible;
			margin-top: -40px;
		}
		.product-image-hover {
			background: rgba(0,0,0,0.15);
		}


	}
}

.product-price{
	font-size: 100%;
	font-weight: 700;
	line-height: 1.3;
	color: inherit;
	font-family: "Lato";
	font-style: normal;
	text-align: center;
}

.product-actions {
	width: 100%;
    height: 40px;
    position: absolute;
	visibility: hidden;
	margin-top: 0px;
	z-index: 0;
    transition: all 200ms ease 0s;

	.wrapper {
		color:#bbbfc7;
		padding:4%;
		cursor:pointer;
		background-color:#Fff;
		height: 40px;
		border: 1px #f2f2f2 solid;

		&:hover {
			.glyphicon{
				color:#fb5f00;
			}
			#card_text{
				color:#e64916;
			}
		}
	}

	.glyphicon-shopping-cart{
		color:#ed764f;
		margin-right:5%;

	}

	.glyphicon-heart, .glyphicon-eye-open{
		color:#bbbfc7;
		width:100%;
		text-align:center;
	}
} 
.product-type{
	color:white;
	-moz-transform: rotate(45deg);
	margin-left: 25px;
	margin-top: 14px;
	position:absolute;
}

.product-image-hover{
	position:absolute;
	width:100%;
	height:100%;
	opacity:1;
	-webkit-transition: all 0.4s ease 0s;
	background: rgba(0,0,0,0.03);
}
.product-name{
	
	text-align:center;
	font-size: 14px;
    height: 30px !important;
}