.product-img-box {
	img {
    width: 100%;
    height: auto;
    }
}
.thumbnail{
	border:0px;
	text-align:center;
	margin-bottom:0px;
	margin-top:15%;
}


.wrapper{
	padding:4%;
	border: 1px solid #fff;
	cursor:pointer;
	background-color:#F2F2F2;
	    height: 7%;
}
h6 a{
	color: #3c3b48;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Lato|Raleway) format("truetype");
}
h6{
	text-align:center;
}
.product-price{
	font-size: 100%;
	font-weight: 700;
	line-height: 1.3;
	color: inherit;
	font-family: "Lato";
	font-style: normal;
	text-align: center;
}
.product-actions .wrapper .glyphicon:hover{
	color:orange;
}
.product-actions .wrapper .glyphicon{
	color:#bbbfc7;
}
