.vert-category {
    a {
        display: block;
        padding: 15px 15px;
        border-bottom: 1px solid $golden;
        @extend .transition;
        &:hover {
            background: $blue;
            color: $golden;
        }
    }
}


/* Product list category */

.vertical-nav {
    .category {
        li {
            width: 100%;
        }
    }
}
