.navbar-header {
    background: #fafafa;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    .header-user {
        float: right;
        li {
            display: inline-block;
        }
    }
}


/* Header middle */

.logo {
    div {
        float: left;
    }
}

.motto {
    margin-top: 35px;
}

.promotion {
    font-size: 16px;
    color: #030303;
    text-transform: uppercase;
    letter-spacing: -.5px;
}

.header-search-row {
    height: 112px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
}

.header-bottom-content {
    height: 42px;
    background: $blue;
    ul {
        line-height: 40px;
        li {
            display: inline-block;
            position: relative;
            a {
                padding: 0 5px;
                color: $white;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                &:hover {
                    background: $btnHover;
                    @extend .transition;
                }
            }
            .special {
                &:hover {
                    background: $golden !important;
                }
            }
        }
    }
}

.search-input,
.categories-search,
.search-btn {
    float: left;
}

.partner-shop {
    width: auto;
    float: left;
}

#search_value {
    height: 46px;
    border-radius: 0;
    line-height: 46px;
}

.angucomplete-holder {
    width: 300px;
}

.search-btn {
    button {
        line-height: 46px;
        padding: 0;
        width: 46px;
        height: 46px;
        margin-top: -1px;
    }
}

.search-contact {
    padding: 20px 0 5px 0;
}

.search-email {
    margin: 0px 5px;
    border-left: 1px solid #ccc;
}

.cart {
    float: right;
    .cart-btn {
        height: 46px;
        line-height: 1;
        @extend .transition;
        &:hover {
            background: $blue;
        }
    }
}
