.home-bestselling {
    padding-top: 10px;
}

.home-cat-trend {
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-title {
    display: block;
    color: $golden;
    border-bottom: 1px solid $golden;
    line-height: 36px;
    margin: 5px 0 10px 0;
    text-transform: uppercase;
}

.motto-1,
.motto-2,
.motto-3 {
    padding: 15px;
    text-align: center;
    height: 100px;
    line-height: 17px;
    font-size: 16px;
    i {
        display: block;
        font-size: 20px;
    }
}

.motto-1 {
    color: $blue;
    border: 5px solid $blue;
}

.motto-2 {
    color: $golden;
    border: 5px solid $golden;
}

.motto-3 {
    color: $grey;
    border: 5px solid $grey;
}

.home-motto {
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-advantage {
    padding-top: 15px;
    padding-bottom: 15px;
    .advantage-bg {
        height: 140px;
        width: 140px;
        text-align: center;
        border: 1px solid $blue;
        border-radius: 50%;
        background-position: center center !important;
        background-size: cover !important;
        display: block;
        margin: 0 auto;
    }
    .inner-box {
        text-align: center;
        height: 220px;
    }
}


/*Social bars*/

.social-bars {
    position: fixed;
    top: 250px;
    right: 5px;
    z-index: 10;
    .fa {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #FFF;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: block;
        border-radius: 50%;
        margin: 10px 0;
        font-size: 1.8em;
        &:hover {
            -webkit-transform: scale(1.1) rotate(360deg);
            -moz-transform: scale(1.1) rotate(360deg);
            -ms-transform: scale(1.1) rotate(360deg);
            -o-transform: scale(1.1) rotate(360deg);
            transform: scale(1.1) rotate(360deg);
        }
    }
    .fa-facebook {
        background-color: #3C599F;
    }
    .fa-twitter {
        background-color: #32CCFE;
    }
    .fa-youtube {
        background-color: #C52F30;
    }
    .fa-instagram {
        background-color: #A1755C;
    }
    .fa-plus {
        background-color: $golden;
    }
}
