.home-bestselling {
    padding-top: 10px;
}

.home-cat-trend {
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-title {
    display: block;
    color: $golden;
    border-bottom: 1px solid $golden;
    line-height: 36px;
    margin: 5px 0 10px 0;
    text-transform: uppercase;
}
