.product-img-box {
    .product-img-container {
        width: 100%;
        height: 155px;
        background-size: cover !important;
        background-position: center center !important;
    }
}

.product-box {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0 9px #c7c7c7;
}

.product-overflow {
    margin-top: 5px;
}

.marketing {
    margin: 15px 0;
}

.list-inline {
    a {
        height: 80px;
        img {
            height: 100%;
        }
    }
}

.img-thumb {
    height: 365px;
    img {
        height: 100%;
    }
}
