.product-img-box {
    .product-img-container {
        width: 100%;
        height: 155px;
        background-size: cover !important;
        background-position: center center !important;
    }
}

.product-box {
    background: #fff;
    box-shadow: 0px 0 5px #c7c7c7;
}

.product-overflow {
    margin-top: 5px;
}

.marketing {
    margin: 15px 0;
}

.list-inline {
    a {
        height: 80px;
        img {
            height: 100%;
        }
    }
}

.img-thumb {
    height: 365px;
    img {
        height: 100%;
    }
}

.add_to_card {
    position: absolute;
    z-index: 1;
    padding: 5px;
    background: #47b1e2;
    color: #fff;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.product-actions {
    position: relative;
}
